
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1;
}

textarea {
  width:100%;
  background: transparent;
  border: none;
  resize: none;
  color: black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
.astyle{
  padding: 10%;
}
.btn{
  text-align: center;
  font-size: 7px;
  width: 40%;
}
li{
  width:100%;
  height:100px;
}
@media screen and (max-width: 992px) {
  *{
    font-size: 7px;
  }
  li{
    width:140%;
    height: 50px;
  }
}